.home-water{
    width: 100%;
    height: 100vh;
    background-color: #0197A7;
    .water-box{
        width: 960px;
        height: 100px;
        background-color: #044850a5;
        margin: 0 auto;
        border-radius: 0 0 4px 4px;
    }
}