body{
    width: 100%;
    height: 100vh;
    background-color: #0197A7;
}
.angbuild{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
.angelababe{
    margin: 0 auto;
    color: #000;
}
.xiaohuahua{
    font-size: 32px;
}